* text=auto
* eol=lf
*.png binary
*.jar binary
*.jpg binary
*.jpeg binary
*.webp binary
*.bin binary
*.mp4 filter=lfs diff=lfs merge=lfs -binary
*.webm filter=lfs diff=lfs merge=lfs -binary
*.avi filter=lfs diff=lfs merge=lfs -binary
*.mpv filter=lfs diff=lfs merge=lfs -binary
